.armor {
  --textures-width: 85px;
  --textures-height: 97px;
  --texture-top: calc((var(--textures-height) - var(--textures-width)) / 2);

  .textures {
    position: relative;
    width: var(--textures-width);
    height: var(--textures-height);

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--textures-width);
      height: var(--textures-height);
      background-color: #393939;

      img {
        display: none;
        width: var(--textures-width);
        height: var(--textures-width);
      }
    }

    .texture {
      position: absolute;
      top: var(--texture-top);
      left: 0;
      width: var(--textures-width);
      height: var(--textures-height);
      background-color: #393939;

      img {
        width: var(--textures-width);
        height: var(--textures-width);
      }
    }
  }
}
