body {
  margin: 8px;
  background-color: black;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: calc(100vw - 16px);

  .character {
    @extend .group;
    flex: 1;
  }

  .equipments {
    @extend .group;
    flex: 1;
  }

  .stats {
    @extend .group;
    flex: 1;
  }
}
